@charset "UTF-8";
@import url("../css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;1,200;1,300;1,400;1,600;1,700&display=swap");
@font-face {
  font-family: hynitrfont;
  src: url(../font/Questrial-Regular.ttf);
  font-weight: bold;
}

@font-face {
  font-family: poppins;
  src: url(../font/Poppins-Black.ttf);
  font-weight: bold;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: 0.5s ease-in;
}

::scrollbar {
  width: 10px;
}

/* Track */
::scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::scrollbar-thumb {
  background: #eee;
}

/* Handle on hover */
::scrollbar-thumb:hover {
  background: #555;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

ul,
li {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5  {

  font-family: 'Poppins';
}

p {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'hynitrfont';
}

body {
  font-family: "Nunito", sans-serif;
  background-color: #ffffff;
}

section {
  margin: 0px;
}

.navbar{
  background-color:#F5F5F5 !important;
 
  
}
.offcanvas{
  background-color: #F5F5F5;
  
}

.dropdown-menu{
  background-color:  #F5F5F5 !important;
  border: none !important;
}
span .navbar-toggler-icon{
  background-color: #389DDB !important;
}
.navbar-toggler{
    
  width: 20px;
  height: 20px;
  position: relative;
  transition: 0.5s ease-in-out;
}

.toggler-icon{
  width: 100%;
  height: 3px;
  background-color: #389DDB;
  display: block;
  position: absolute;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
  border-radius: 10px;
  margin-right: 100px !important;
}

/*when navigation is clicked*/
.navbar-toggler .top-bar{
  margin-top: 7px;
  transform: rotate(0deg)
}
.navbar-toggler .middle-bar{
  margin-top:13.5px;
  transform: rotate(0deg);
}
.navbar-toggler .bottom-bar{
 margin-top: 0px;
 transform: rotate(0deg);
}
/*state when navbar is collapsed*/
.offcanvas-header .btn-close{
  color: #389DDB !important;
}
.nav-item{
  margin-left: 20px !important
}
.nav-link{
 
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 24px;
color: #000000 !important;
}
.nav-link:hover{
  color:#77BCD9 !important ;
  
}
/***************HERO SECTION******************/
#hero{
  background-color: #F4F9FB !important;
}
.hero h5{
  color: #77BCD9 !important ;
  
}
.hero h1{
font-weight: 300 !important;
line-height: 55px;
letter-spacing: 0em;
word-spacing: 2px;
font-size: 50px;

}
.hero-text h1 span{
color: #77BCD9 ;
}
.hero img{
  float:right;
}
.hero p{
  
font-size: 20px;
font-weight: 400;
line-height: 30px;
}
.hero a.btn{
 color:#ffffff;
width: 197px;
height: 57px;
padding: 15px;
background: #1B3A4C;
border-radius: 4px;
}
.hero .line{
  width: 80px;
  height: 5px;
  border-radius: 50px;
  background-color: #77BCD9 !important;
}
/***************HERO SECTION ENDS******************/


/***************GLAD YOU TOOK THE BOLD STEP ******************/
#glad-you{
  background-color: #F5F5F5;;
}
#glad-you p{
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
#glad-you a.btn{
  color:#ffffff;
 width: 197px;
 height: 57px;
 padding: 15px;
 background: #1B3A4C;
 border-radius: 4px;

}
/***************GLAD YOU TOOK THE BOLD STEP ENDS******************/



/********** RESPONSIVENESS **********/

/* For 480 Resolution - Laptop*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    /* STYLES GO HERE */

    #features h2 {

      font-size: 24px;
    }
  }
  
  /* For 640 Resolution - mobile */
  @media only screen and (min-device-width: 360px) and (max-device-width: 640px) {
  }
  
  /* For 1024 Resolution - laptop 1 */
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /* STYLES GO HERE */
  }
  
  /* For 1366 Resolution  -- laptop 2*/
  @media only screen and (min-width: 1030px) and (max-width: 1366px) {
    /* STYLES GO HERE */
  }
  
  /** desktop screen */
  @media only screen and (min-width: 1370px) and (max-width: 1605px) {
    /* STYLES GO HERE */
  }
  
  /*Ipad Orientation : Landscape */
  @media only screen and (orientation: landscape) and (min-device-pixel-ratio: 1) and (min-device-width: 768px) and (max-device-width: 1007px) {
    /* STYLES GO HERE */
  }
  
  /*ipad Orientation : Portrait */
  @media only screen and (orientation: portrait) and (min-device-pixel-ratio: 1) and (min-device-width: 768px) and (max-device-width: 1007px) {
    /* STYLES GO HERE */
  }